.paper {
  background-image: linear-gradient(to top right, #f5f5f553, #e2e7e96a), url(./paper2.avif);
  background-size: cover;
  transform: rotate(-2deg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 8px;
  color: #333;
  text-shadow: 1px 1px 2px #fff;
}
/* ブラウザのスクロールバーを消す場合 */
::-webkit-scrollbar {
  display: none;
}
.horizon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.btn {
  display: inline-block;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  padding: 14px 36px;
  margin: 10px;
  font-weight: bold;
  border-radius: 25px;
  background: linear-gradient(90deg, #27acd9, #0686b2);
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(6, 134, 178, 0.2);
}

.btn:hover {
  transform: translateY(-3px) scale(1.03);
  background: linear-gradient(90deg, #046586, #05455a);
  box-shadow: 0 6px 12px rgba(5, 69, 90, 0.3);
}
